.gallery {
  &__header {
    padding-top: 30px;
    padding-bottom: 25px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #7a7a7a;
  }

  .carousel {
    padding-bottom: 51px;
    // height: 600px;
  }

  // .carousel-item {
  //   height: 500px;
  // }

  // .carousel-item img {
  //   height: 500px;
  // }
}

@media (min-width: 992px) {
  .gallery {
    &__header {
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      line-height: 64px;
      padding-bottom: 51px;
      text-align: center;
    }

    .of {
      object-fit: cover;
    }

    .g-img-1 {
      background: url("../img/gallery-image-1.svg") center;
      background-size: cover;
      background-repeat: no-repeat;
      // height: 565px;
    }
    .g-img-2 {
      background: url("../img/gallery-image-2.svg") center;
      background-size: cover;
      background-repeat: no-repeat;
      // height: 565px;
    }
    .g-img-3 {
      background: url("../img/gallery-image-3.svg") center;
      background-size: cover;
      background-repeat: no-repeat;
      // height: 357px;
    }
    .g-img-4 {
      background: url("../img/gallery-image-4.svg") center;
      background-size: cover;
      background-repeat: no-repeat;
      // height: 188px;
    }
    .g-img-5 {
      background: url("../img/gallery-image-5.svg") center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .g-img-6 {
      background: url("../img/gallery-image-6.svg") center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .g-img-7 {
      background: url("../img/gallery-image-7.svg") center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .btn {
      background: #2b7a78;
      border-radius: 5px !important;
      color: #ffffff !important;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 32px;
      padding: 20px 82px !important;
      margin-top: 63px;
    }
  }
}
