.bg-light {
  background: #1f252a !important;
}

.navbar-brand {
  font-size: 24px;
}

@media (min-width: 992px) {
  .bg-light {
    background: transparent !important;
    transition: all 0.3s ease-in-out;
  }

  // .navbar-brand {
  //   // font-size: 40px;
  // }

  .nav-link {
    font-style: normal;
    font-weight: bold;
    line-height: 20px;
  }
}
